html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	background-color: rgb(0, 0, 0);
	color: #fff;
	font-family: Monospace;
	font-size: 13px;
	line-height: 24px;
	overscroll-behavior: none;
}

canvas {
	position: fixed;
	top: 0;
	left: 0;
  }

main {
	width: 100vw;
	color: white;
	z-index: 99;
	position: absolute;
	width: 100%;
	margin: 0px auto;
	padding: 60px 0px;
	display: grid;
	grid-template-columns: repeat(24, 1fr);
	opacity: 100%;
	-webkit-text-stroke-width: 0.15px;
    -webkit-text-stroke-color: black;
}

main#topdiv {
	padding: 0px 0px;
	position: fixed;
	display: block;
	z-index: 1030;
}

h1, h2, h3, blockquote {
	font-family: courier;
	font-weight: 800;
	font-style: normal;
}

canvas {
	position: fixed;
	top: 0;
	left: 0;
}

header {
	background: var(--dark-bg);
	grid-column: 2 / 24;
	font-size: 2rem;
	/* padding: 2rem; */
	margin-top: 1rem;
	text-align: center;
}

section {
	grid-column: 2 / 20;
	margin-top: -1.5rem;
	margin-bottom: 0.5rem;
	padding: 1rem;
	background: var(--dark-bg);
	/* font-size: 1.25rem; */
	font-size: 1rem;
	line-height: 1.5;
	/* margin-bottom: var(--spacing); */
	opacity: 1;
}

blockquote {
	margin: 0;
	padding: 0;
	grid-column: 1 / span 24;
	margin-bottom: 2rem;
	text-align: center;
}

blockquote p {
	color: black;
	background-color: rgba(255, 255, 255, 0.3);
	font-size: 2.5em;
	display: inline;
	line-height: 2.5rem;
}

.left {
	grid-column: 4 / 12;
}

a {
	color: rgb(255, 255, 255);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button {
	cursor: pointer;
	text-transform: uppercase;
}

#info {
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1; /* TODO Solve this in HTML */
}

.progress-bar-container {
	position:absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#progress-bar {
	position: fixed;
	width: 50%;
	top: 50%;
	
	/* margin-top: 0.5%; */
	/* height: 2%; */
}

label {
	color: white;
	font-size: 2rem
}

#top-bar {
	position: absolute;
	top: 38%;
	text-align: center;
}

#mid-bar {
	position: absolute;
	font-size: 1rem;
	top: 43%;
	text-align: center;
}

#low-bar {
	position: absolute;
	font-size: 1rem;
	top: 55%;
	text-align: center;
}

a, button, input, select {
	pointer-events: auto;
}

.top-nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	border-bottom: 0.25rem solid rgba(0, 0, 0, 0.283);
	background: linear-gradient(to left, #686868, #46464600);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: #FFF;
	margin-top: 0rem;
	margin-bottom: 0rem;
	/* height: 50px; */
	/* padding: 1em; */
}

.menu {
display: flex;
flex-direction: row;
list-style-type: none;
margin: 0;
padding: 0;
}

.menu > li {
margin: 0 1rem;
overflow: hidden;
}

.menu-button-container {
display: none;
height: 100%;
width: 30px;
cursor: pointer;
flex-direction: column;
justify-content: center;
align-items: center;
}

#menu-toggle {
display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
display: block;
background-color: #fff;
position: absolute;
height: 4px;
width: 30px;
transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
border-radius: 2px;
}

.menu-button::before {
content: '';
margin-top: -8px;
}

.menu-button::after {
content: '';
margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
margin-top: 0px;
transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
margin-top: 0px;
transform: rotate(-405deg);
}

@media (max-width: 700px) {
.menu-button-container {
	display: flex;
}
.menu {
	position: absolute;
	top: 0;
	margin-top: 50px;
	left: 0;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	align-items: center;
}
#menu-toggle ~ .menu li {
	height: 0;
	margin: 0;
	padding: 0;
	border: 0;
	transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

#menu-toggle:checked ~ .menu li {
	border: 1px solid #333;
	height: 2.5em;
	padding: 0.5em;
	transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu > li {
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0.5em 0;
	width: 100%;
	color: white;
	background-color: #222;
}
.menu > li:not(:last-child) {
	border-bottom: 1px solid #444;
}
}

#about , #projects , #accomplishments, header{
background-color: rgba(129, 129, 129, 0.441);
border: 0.3rem solid rgb(0, 0, 0);
border-radius: 1rem;
}

section span { 
	margin-top: -3rem;
	padding-bottom: 3rem; 
  	display: block; 
}