body {
	margin: 0;
	background-color: rgb(0, 0, 0);
	color: #fff;
	font-family: Monospace;
	font-size: 13px;
	line-height: 24px;
	overscroll-behavior: none;
}

canvas {
	position: fixed;
	top: 0;
	left: 0;
  }

main {
	width: 100vw;
	color: white;
	z-index: 99;
	position: absolute;
	width: 100%;
	margin: 0px auto;
	padding: 50px 0px;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

h1, h2, h3, blockquote {
	font-family: courier;
	font-weight: 800;
	font-style: normal;
}

canvas {
	position: fixed;
	top: 0;
	left: 0;
}

header {
	background: var(--dark-bg);
	grid-column: 2 / span 12;
	font-size: 1.75rem;
	/* padding: 2rem; */
	margin-bottom: var(--spacing);
}

section {
	grid-column: 2 / 10;
	padding: 0rem;
	background: var(--dark-bg);
	font-size: 1.25rem;
	line-height: 1.5;
	margin-bottom: var(--spacing);
	opacity: 1;
}

blockquote.end {
	grid-column: 0 / 12;
	
	/* width:auto;
    display:table */
}

blockquote {
	margin: 0;
	padding: 0;
	grid-column: 2 / span 12;
	margin-bottom: var(--spacing);
}

blockquote p {
	color: black;
	background-color: rgba(255, 255, 255, 0.3);
	font-size: 2.5em;
	display: inline;
	line-height: 2.5rem;
}

.left {
	grid-column: 4 / 12;
}

a {
	color: #ff0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button {
	cursor: pointer;
	text-transform: uppercase;
}

#info {
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1; /* TODO Solve this in HTML */
}

.progress-bar-container {
	position:absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#progress-bar {
	width: 30%;
	margin-top: 0.5%;
	height: 2%;
}

label {
	color: white;
	font-size: 2rem
}

a, button, input, select {
	pointer-events: auto;
}

.lil-gui {
	z-index: 2 !important; /* TODO Solve this in HTML */
}

@media all and ( max-width: 640px ) {
	.lil-gui.root { 
		right: auto;
		top: auto;
		max-height: 50%;
		max-width: 80%;
		bottom: 0;
		left: 0;
	}
}

/* #overlay {
	position: absolute;
	font-size: 16px;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: rgba(0,0,0,0.7);
} */

section.test{
	text-align: center;
	grid-column: 4 / 9;
}